# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
venv/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
dist/
build/
*.pyc
__pycache__/
.cache/
.vite/

# Database
*.sqlite3
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Project specific
Server/Client/dist
Server/Client/node_modules
Server/__pycache__
Server/.env
